api-workbench@0.8.43
atom-beautify@0.29.17
autocomplete-flow@1.6.0
autocomplete-modules@1.6.7
autocomplete-python@1.8.43
elm-format@2.1.0
file-icons@2.0.15
git-time-machine@1.5.4
go-debug@1.0.4
go-plus@5.1.1
go-signature-statusbar@1.2.0
hyperclick@0.0.40
language-elm@1.5.0
linter@1.11.21
linter-checkbashisms@0.1.5
linter-clojure@1.1.2
linter-elm-make@0.22.1
linter-eslint@8.1.0
linter-flake8@2.1.4
multi-cursor@2.1.5
project-manager@3.3.3
proto-repl@1.4.13
react@0.16.2
