git
heroku
bash-completion
node
jenv
redis
mysql
leiningen
maven
maven-completion
mono
mongodb
postgresql
go
npm
elm
elm-format
yarn
wget
gdal
python
watchman
protobuf
brew-cask-completion
neo4j
azure-cli
awscli
scala
nvm
gradle
portmidi
micronaut
Rigellute/tap/spotify-tui
freetds
zsh-syntax-highlighting
libev
antlr@4
gnu-sed
gh
