google-chrome
firefox
opera
spotify
pycharm-ce
iterm2
java
java8
intellij-idea-ce
slack
dropbox
Google-backup-and-sync
cocoarestclient
sequel-pro
sublime-text
skype
docker
atom
postman
webstorm
whatsapp
android-studio
visual-studio-code-insiders
spectacle
tunnelbear
evernote
metabase-app
gogland
gotomeeting
zoomus
dotnet-sdk
garmin-express
kitematic
