google-chrome
firefox
opera
spotify
pycharm-ce
iterm2
java
intellij-idea-ce
slack
dropbox
google-drive
cocoarestclient
sequel-pro
sublime-text
skype
docker
atom
postman
webstorm
whatsapp
android-studio
visual-studio-code
