google-chrome
firefox
opera
spotify
pycharm-ce
iterm2
java
java8
intellij-idea-ce
slack
dropbox
Google-backup-and-sync
cocoarestclient
sequel-pro
sublime-text
skype
docker
atom
postman
webstorm
whatsapp
android-studio
visual-studio-code
spectacle
tunnelbear
evernote
metabase-app
gogland
gotomeeting
zoomus
dotnet-sdk
garmin-express
kitematic
xquartz
wine-stable
dbvisualizer
font-fira-code
cakebrew
midi-monitor
musescore
dash
nosleep
virtualbox
ngrok
duet
blackhole
steam
discord
houseparty
pgadmin4
