DavidAnson.vscode-markdownlint
DotJoshJohnson.xml
HookyQR.beautify
Ionide.Ionide-FAKE
Ionide.Ionide-fsharp
Ionide.Ionide-Paket
PeterJausovec.vscode-docker
Shan.code-settings-sync
WallabyJs.quokka-vscode
alefragnani.project-manager
christian-kohler.npm-intellisense
christian-kohler.path-intellisense
chrmarti.regex
codezombiech.gitignore
cssho.vscode-svgviewer
dbaeumer.vscode-eslint
donjayamanne.githistory
eg2.vscode-npm-script
esbenp.prettier-vscode
fknop.vscode-npm
formulahendry.auto-close-tag
jakeboone02.cypher-query-language
jamesnorton.continuum
joaoacdias.golang-tdd
justusadam.language-haskell
lukehoban.Go
miramac.vscode-exec-node
mjmcloug.vscode-elixir
mohsen1.prettify-json
ms-vscode.csharp
ms-vscode.Theme-MarkdownKit
redhat.java
robertohuertasm.vscode-icons
ryu1kn.annotator
ryu1kn.partial-diff
streetsidesoftware.code-spell-checker
waderyan.gitblame
yzhang.markdown-all-in-one
smkamranqadri.vscode-bolt-language
msjsdiag.debugger-for-chrome
ms-python.python
vsmobile.vscode-react-native
