Ionide.Ionide-FAKE
alefragnani.project-manager
christian-kohler.path-intellisense
chrmarti.regex
codezombiech.gitignore
CoenraadS.bracket-pair-colorizer
cssho.vscode-svgviewer
daltonjorge.scala
DavidAnson.vscode-markdownlint
dbaeumer.vscode-eslint
donjayamanne.githistory
DotJoshJohnson.xml
eamodio.gitlens
eg2.vscode-npm-script
EQuimper.react-native-react-redux
esbenp.prettier-vscode
felipecaputo.git-project-manager
fknop.vscode-npm
formulahendry.auto-close-tag
formulahendry.auto-rename-tag
formulahendry.code-runner
Gruntfuggly.todo-tree
humao.rest-client
Ionide.Ionide-fsharp
Ionide.Ionide-Paket
itryapitsin.Scala
jakeboone02.cypher-query-language
jamesnorton.continuum
joaoacdias.golang-tdd
joelday.docthis
justusadam.language-haskell
mathiasfrohlich.Kotlin
miramac.vscode-exec-node
mjmcloug.vscode-elixir
mohsen1.prettify-json
ms-python.python
ms-vscode.cpptools
ms-vscode.csharp
ms-vscode.Go
ms-vscode.Theme-MarkdownKit
ms-vscode.vscode-typescript-tslint-plugin
msjsdiag.debugger-for-chrome
octref.vetur
oderwat.indent-rainbow
PeterJausovec.vscode-docker
rbbit.typescript-hero
redhat.java
ryu1kn.partial-diff
Shan.code-settings-sync
SirTori.indenticator
smkamranqadri.vscode-bolt-language
streetsidesoftware.code-spell-checker
toba.vsfire
VisualStudioExptTeam.vscodeintellicode
vscjava.vscode-java-debug
vscjava.vscode-java-dependency
vscjava.vscode-java-pack
vscjava.vscode-java-test
vscjava.vscode-maven
vscode-icons-team.vscode-icons
vsmobile.vscode-react-native
waderyan.gitblame
WallabyJs.quokka-vscode
wayou.vscode-todo-highlight
xabikos.JavaScriptSnippets
yzhang.markdown-all-in-one
zhouronghui.propertylist
zxh404.vscode-proto3
